Repository cybertec-postgresql/pgwatch2, pull requests merged in 2022-11, with the labels that each got.

#518 [+] add metric and dashboard for bloated indexes and tables
  grafana_dashboards/postgres/v8/index-overview/dashboard.json
  grafana_dashboards/postgres/v8/tables-top/dashboard.json
  pgwatch2/metrics/index-bloat/10/metric.sql
Labels: enhancement, metrics, dashboards

#512 [*] сleanup pgbackrest helper function
  pgwatch2/metrics/00_helpers/get_backup_age_pgbackrest/9.1/metric.sql
Labels: bug, metrics, performance

#527 [-] fix `Invalid command SET lock_timeout...` error, fixes #507
  pgwatch2/pgwatch2.go
Labels: bug, enhancement

#533 [*] use ENV var in GHA instead of deprecated `set-output` command, fixes #522
  .github/workflows/release.yml
Labels: deployment, packaging

#534 [+] provide ARM docker images, closes #502
  .github/workflows/build.yml
  .github/workflows/release.yml
  docker/Dockerfile-postgres
Labels: docker, feature-request, deployment

#539 [!] bump Golang to 1.19, closes #538
  .github/workflows/release.yml
  docker-compose.yml
  docker/Dockerfile
  docker/Dockerfile-daemon
  docker/Dockerfile-nonroot
  docker/Dockerfile-postgres
  pgwatch2/go.mod
  pgwatch2/go.sum
Labels: docker, gatherer-daemon, packaging

#542 [-] fix goreleaser "field empty_folders not found..." error, closes #541
  .github/workflows/build.yml
  .github/workflows/release.yml
  .goreleaser.yml
Labels: bug, packaging
