Repository cybertec-postgresql/pgwatch2, pull requests merged in 2023-02, with the labels that each got.

#603 [+] add Docker GHA workflow to update "latest" images, closes #602
  .github/workflows/docker.yml
  .github/workflows/release.yml
Labels: docker, github_actions

#601 [!] bump PostgreSQL to v15, Grafana to v8.5.20, Go to v1.20 in Docker images
  .github/workflows/release.yml
  docker-launcher-postgres.sh
  docker/Dockerfile-daemon
  docker/Dockerfile-db-bootstrapper
  docker/Dockerfile-postgres
  docker/Dockerfile-timescale
  docker/Dockerfile-webui
  postgresql_22.04.conf
  supervisord-postgres.conf
Labels: enhancement, docker, postgres, deployment, upgrading

#604 [-] fix timeline ID conversion in `wal` metric from hexadecimal to decimal
  pgwatch2/metrics/wal/10/metric.sql
  pgwatch2/metrics/wal/10/metric_su.sql
  pgwatch2/sql/config_store/metric_definitions.sql
Labels: bug, metrics

#592 [-] ensure bootstrap of a timescale metrics db includes necessary metric-time function
  docker/launch-wrapper-db-bootstrapper.sh
Labels: bug, docker

#605 [+] bump Go to v1.20
  pgwatch2/go.mod
  pgwatch2/go.sum
Labels: enhancement, deployment, go

#607 [+] add lag in milliseconds to replication metrics
  pgwatch2/metrics/replication/10/metric.sql
  pgwatch2/sql/config_store/metric_definitions.sql
Labels: metrics

#608 [*] fix `key_file` to `key` on `host_config`
  pgwatch2/config/instances.yaml
Labels: bug, configuration

#606 [-] fix `pgwatch2-postgres` Docker image
  docker-launcher-postgres.sh
  postgresql.conf
Labels: bug, docker
