Repository cybertec-postgresql/pgwatch2, pull requests merged in 2023-08, with the labels that each got.

#668 [-] fix dashboard typos
  grafana_dashboards/postgres/v8/index-overview/dashboard.json
Labels: dashboards

#669 [!] add metrics for PostgreSQL 16
  README.md
  pgwatch2/metrics/index_stats/16/metric.sql
  pgwatch2/metrics/stat_io/16/metric.sql
  pgwatch2/metrics/stat_io/metric_attrs.yaml
  pgwatch2/metrics/table_stats/16/metric.sql
  pgwatch2/sql/config_store/metric_definitions.sql
Labels: enhancement, metrics

#675 [-] fix invalid `target_session_attrs` value in WebUI URI, fixes #674
  webpy/datadb.py
Labels: bug, webui

#676 [+] add support for Goreleaser v1.20
  .goreleaser.yml
Labels: bug, github_actions
