Repository cybertec-postgresql/pgwatch2, pull requests merged in 2023-12, with the labels that each got.

#727 [+] update "Biggest relations treemap" dashboard plugin, fixes #579 #496 #293 #197
  docker/Dockerfile-postgres
  grafana_dashboards/postgres/v8/biggest-relations/dashboard.json
  screenshots/biggest_relations_treemap.png
Labels: enhancement, dashboards

#700 [+] add `sent_lag` and `confirmed_flush_lsn_lag` fields to replication metrics
  pgwatch2/metrics/replication/10/metric.sql
  pgwatch2/metrics/replication_slots/10/metric_master.sql
  pgwatch2/sql/config_store/metric_definitions.sql
Labels: metrics

#729 [+] bump Go to v1.21
  .github/workflows/release.yml
  docker/Dockerfile-daemon
  docker/Dockerfile-postgres
  docker/Dockerfile-timescale
  pgwatch2/go.mod
  pgwatch2/go.sum
Labels: enhancement, go
