Repository cybertec-postgresql/pgwatch2, pull requests merged in 2024-05, with the labels that each got.

#774 [+] add `pgbouncer_clients` metric
  pgwatch2/config/instances.yaml
  pgwatch2/metrics/pgbouncer_clients/0/metric.sql
  pgwatch2/sql/config_store/config_store.sql
  pgwatch2/sql/config_store/metric_definitions.sql
Labels: metrics

#778 [+] add `usename` to `replication` metric, closes #751
  pgwatch2/metrics/replication/10/metric.sql
  pgwatch2/sql/config_store/metric_definitions.sql
Labels: enhancement, metrics

#784 [*] change nasty warning into debug message, closes #764
  pgwatch2/pgwatch2.go
Labels: gatherer-daemon

#785 [*] optimize Scalefield image and enable async mode for prometheus
  docker-launcher-scalefield.sh
  docker/Dockerfile-scalefield
  pgwatch2/config/scalefield.template
Labels: docker
